# Finder configuration files (Mac).
.DS_Store

# Node.js dependencies.
node_modules/

# Log files.
*.log
*.log.*

# Bundled modules and their source-maps.
dist/

# Generated type declarations.
types/

# Transpiled modules and their source-maps.
src/**/*.js
src/**/*.js.map
